.input__container {
    width: 100%;
  
}

.input {
    width: 100%;
    height: 56px;
    outline: none;
    text-align: center;
    border : 1px solid var(--grey);
    border-radius: 6px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: larger;
    
}
::placeholder {
    font-family: 'Poppins';
    text-align: center; 
    font-size: large;
    color : var(--darkGrey)
 }