
.weather__meta {
    padding: 10px;
    width : 50%;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--grey);
}
.weather__meta__info {
    display: flex;
    flex-direction: column;
}
.weather__meta__info__data {
    font-size: large;
    font-weight: 600;

}
.weather__meta__label{
    font-size: small;
    font-weight: 500;
}
.weather__meta__icon {
    fill : var(--blue);
    height : 100%
}