.weather__container {
    display: flex;
    flex-direction: column;
    min-height : 250px;
}

.weather__metainfo {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    font-family: "Poppins";
}
.weather__main__info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.weather__cloud__icon{
    height : 100px;
    width: 100px;
}
.weather__temperature{
    font-size: 54px;
    font-weight: 800;
}