:root {
  --blue: #43AEFC;
  --white: #ffffff;
  --grey: #CBCBCB;
  --darkGrey : #9e9c9c;
}
.App {
  background-color: var(--blue);
  height :100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__children{
  background-color: var(--white);
  min-height: 250px;
  width: 400px;
  border-radius: 12px;
}